@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <p>You are here: <a href="http://localhost:1914/About" style ="color:blue">@ViewBag.Title</a> </p>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <h1 style="font-size:large">Information:</h1>
    <p>
        This Website was created by Dat Dang, an IT student in University of Canberra.
    </p>
    <p>
        Student ID: u3091855
    </p>
    <p>
        The purpose of this website is for assignment 1 of WDP
    </p>
</article>

<article >
        <h1 style="font-size:large">Reference:</h1>
        <ol style ="margin-left:30px">
            <li><a href="http://www.canberra.edu.au/">University of Canberra</a></li>
            <li><a href="http://sydney.edu.au/">University of Sydney</a></li>
            <li><a href="http://www.w3schools.com/">W3School</a></li>
        </ol>  
</article>
