@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <p>You are here: <a href="http://localhost:1914/Contact" style ="color:blue">@ViewBag.Title</a> </p>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Name</h3>
    </header>
    <p>
        <span class="label"></span>
        <span>Dat Dang - u3091855</span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label"></span>
        <span>0406425565</span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label"></span>
        <span><a href="mailto:u3091855@uni.canberra.edu.au">u3091855@uni.canberra.edu.au</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Univeristy of Canbera<br />
        ACT 2601 Australia.
    </p>
</section>